body {
    margin: 0px;
    font-family: Arial;
}

.wrapper {
    height: 100vh;
    position: relative;
  }
  
  .credentials_form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }